/* Rest CSS */
html, body, div, button{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    padding: 0 15px;
}

h1, h2, span, button{
    font-family: Roboto, 'Times New Roman';
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.btn{
    padding: 15px 40px;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary{
    background-color: #007fc8;
    color: #fff;
}

.btn-primary:hover{
    background-color: #004e7a;
}

.slider{
    display: flex;
    max-width: 1100px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.slider.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.slider.dragging .card{
    pointer-events: none;
}

.slider .card{
    background-color: #ebebeb;
    text-align: center;
    padding: 20px 0;
    border-radius: 20px;
    font-family: Roboto, 'Times New Roman';
    user-select: none;
    margin-left: 14px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 24%;
}

.slider .card:first-child{
    margin-left: 0px;
}

.card img{
    width: 200px;
}

.card h2{
    margin-bottom: 20px;
    font-weight: 400;
}

.card span{
    display: block;
    color: #606d78;
}

.card button{
    margin-top: 40px;
}

.dots{
    position: absolute;
    bottom: -35px;
    left: 50%;
    width: max-content;
}

.dots span{
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    background-color: #D6D6D6;
    display: inline-block;
    margin-top: 25px;
}

.dots span:hover{
    background-color: #869791;
}

.dots span.active{
    background-color: #869791;
}

@media screen and (max-width: 900px) {
    .slider .card{
        flex-basis: 32%;
    }
}
  
@media screen and (max-width: 550px) {
    .slider .card{
        flex-basis: 100%;
    }
}